*, :after, :before {
    box-sizing: border-box;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.container {
  max-width: 640px;
  width: 98%;
  margin: 0 auto;
  overflow-x: hidden;
}
h2 {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}
.Select-control {
  border-radius: 0;
}
.pad-1 {
  padding: 1em 0;
}
.cards {
  display: flex;
  align-items: flex-end;
  min-height: 230px;
  text-decoration: none;
  background-size: cover;
  background-position: center center;
}
.title {
  width: 100%;
  padding: 0.5em;
  color: #fff;
  background: rgba(0,0,0, 0.3);
}