*, :after, :before {
    box-sizing: border-box;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.container {
  max-width: 640px;
  width: 98%;
  margin: 0 auto;
  overflow-x: hidden;
}
h2 {
  text-align: center;
}
img {
  max-width: 100%;
  height: auto;
}

button {
  font-size: 17px;
  margin: 2px;
  border: 1px solid #333;
  background: transparent;
  color: #333;
}
button:hover {
  background: #f3f3f3;
}

input {
  width: 100%;
  height: 50px;
  font-size: 2em;
  border: 2px solid #333;
}
